*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
}
header .image{
    width: 30%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;;
}
header .image p{
    margin-top: 25px;
}
header .navi{
    width: 69%;
    height: 100%;
}
header .navi ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
header .navi ul li{
    margin-top: 25px;
}
header .navi ul li a{
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #000000;
    border-radius: 10px;
}
header .navi ul li a:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 1.5s;
}
